<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
rel="stylesheet"
/>
    
</head>


<style>

    body{

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #formbox{
        width: 300px;
        margin-top: 40px; 
        /* background-color: #d3d0d0; */
        padding: 30px;
        box-shadow: 0px 0px 3px 0px;

    }
</style>
<body>
    
<div id="formbox">

<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="#pills-login" role="tab"
        aria-controls="pills-login" aria-selected="true">Admin</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init href="#pills-register" role="tab"
        aria-controls="pills-register" aria-selected="false">Employee</a>
    </li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

        <form  method="post" action="/admin/login">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="loginName" class="form-control" name="email" required />
          <label class="form-label" for="loginName"  >Email or username</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="loginPassword" name="password" class="form-control" />
          <label class="form-label" for="loginPassword"  >Password</label>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck"> Remember me </label>
            </div>
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
        
            <a href="#!">Forgot password?</a>
          </div>
        </div>
  
        <button type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>

      </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">


      <form method="post" action="/employee/login">

        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="loginName" class="form-control" name="email" />
          <label class="form-label" for="loginName"  >Email or username</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="loginPassword" name="password" class="form-control" />
          <label class="form-label" for="loginPassword"  >Password</label>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck"> Remember me </label>
            </div>
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
        
            <a href="#!">Forgot password?</a>
          </div>
        </div>
  
        <button type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>

      </form>
    </div>
  </div>


  <script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
  
</div>
</body>    

</html>